env.dev/modules/dee/dee_Config/configs/PS_Operator_TO_BPM/PS_Operator_TO_BPM.bokedee.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:ftp="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.ftp/1.2"
	xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:file="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.file/1.2"
	xmlns:http="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.http/1.2"
	xmlns:https="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.https/1.2"
	xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp"
	xmlns:stdio="http://www.mulesoft.org/schema/mule/stdio" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:axis="http://www.mulesoft.org/schema/mule/axis" xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts"
	xmlns:jdbc="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.jdbc/1.2"
	xmlns:pattern="http://www.mulesoft.org/schema/mule/pattern" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:smooks="http://www.muleforge.org/smooks/schema/mule-module-smooks"
  xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
  xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
  xmlns:imap="http://www.mulesoft.org/schema/mule/imap"
 xmlns:pop3="http://www.mulesoft.org/schema/mule/pop3"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/3.1/mule-jbossts.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.jdbc/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.jdbc/1.2/mule-com.bokesoft.dee.patch.jdbc.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.file/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.file/1.2/mule-com.bokesoft.dee.patch.file.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.http/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.http/1.2/mule-com.bokesoft.dee.patch.http.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.https/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.https/1.2/mule-com.bokesoft.dee.patch.https.xsd
http://www.mulesoft.org/schema/mule/tcp http://www.mulesoft.org/schema/mule/tcp/3.1/mule-tcp.xsd
http://www.muleforge.org/smooks/schema/mule-module-smooks http://dist.muleforge.org/smooks/schema/mule-module-smooks/1.1/mule-module-smooks.xsd
http://www.mulesoft.org/schema/mule/stdio http://www.mulesoft.org/schema/mule/stdio/3.1/mule-stdio.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.1/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/axis http://www.mulesoft.org/schema/mule/axis/3.1/mule-axis.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/pattern http://www.mulesoft.org/schema/mule/pattern/3.1/mule-pattern.xsd
        http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.ftp/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.ftp/1.2/mule-com.bokesoft.dee.patch.ftp.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-vm.xsd 
     http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/3.1/mule-sftp.xsd 
    http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/3.1/mule-jms.xsd 
  http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/3.1/mule-smtp.xsd 
	http://www.mulesoft.org/schema/mule/imap http://www.mulesoft.org/schema/mule/imap/3.1/mule-imap.xsd 
 http://www.mulesoft.org/schema/mule/pop3 http://www.mulesoft.org/schema/mule/pop3/3.1/mule-pop3.xsd ">

		<custom-transformer class="com.bokesoft.exchange.transformer.ScriptWithDSTransformer" name="更新日志表">
		<spring:property name="ds" ref="2c9081d05be7e572015be80fcb64000f_YIGO2_DB"></spring:property>
		<spring:property name="script">
			<spring:value>
			<![CDATA[
				String expMsg = "";
Map rsmap = new HashMap();
if (message.getExceptionPayload() != null)
{
    message.setOutboundProperty("http.status", 200);
    expMsg = message.getExceptionPayload().getRootException().getMessage();
    if (expMsg.length() > 3500)
    {
        expMsg = expMsg.substring(0, 3000);
    }
    message.setExceptionPayload(null);
    rsmap.put("code", "e");
    rsmap.put("msg", "同步失败！");
}
else
{
    rsmap.put("code", "s");
    rsmap.put("msg", "同步成功！");
    rsmap.put("data", payload);
}
Map logmap = message.getInboundProperty("logmap");
Object[] o = new Object[10];
o[0] = logmap.get("flow");
o[1] = logmap.get("node");
o[2] = logmap.get("billkey");
o[3] = logmap.get("oid");
o[4] = logmap.get("begintime");
o[5] = new java.text.SimpleDateFormat("yyyyMMdd HH:mm:ss.SSS").format(new java.sql.Timestamp(java.lang.System.currentTimeMillis()));
o[6] = "";
o[7] = "";
o[8] = expMsg;
o[9] = "interface_1";
dbop.saveOrUpdate("insert into TRINA_SL_INTERFACE_LOG(id,flow,node,billkey,oid,starttime,endtime,request_data,response_data,EXCEPTION,interface_type)values(Trina_SL_Interface_Log_ID_SEQ.Nextval,?,?,?,?,?,?,?,?,?,?)", o, false);
return com.bokesoft.dee.mule.util.json.JSONUtil.toJson(rsmap);
			]]>
			</spring:value>
		</spring:property>
	</custom-transformer>
<flow name="PS_Operator_TO_BPM">
		<vm:inbound-endpoint  name="接收触发请求"
		encoding="UTF-8"
		address="vm://PS_Operator_TO_BPM" 
		exchange-pattern ="request-response" 
		responseTransformer-refs ="更新日志表"
		>
	</vm:inbound-endpoint>


	<transformer ref="ggpz_启动JDBC事务"/>

		<custom-transformer class="com.bokesoft.exchange.transformer.ScriptWithDSTransformer" name="记录起始时间">
		<spring:property name="ds" ref="2c9081d05be7e572015be80fcb64000f_YIGO2_DB"></spring:property>
		<spring:property name="script">
			<spring:value>
			<![CDATA[
				String begintime = new java.text.SimpleDateFormat("yyyyMMdd HH:mm:ss.SSS").format(new java.sql.Timestamp(java.lang.System.currentTimeMillis()));
Map logmap = new HashMap();
logmap.put("begintime", begintime);
logmap.put("flow", payload.get("flow"));
logmap.put("node", payload.get("node"));
logmap.put("oid", payload.get("oid"));
logmap.put("billkey", payload.get("billkey"));
logmap.put("request_data", payload.get("json"));
message.setInboundProperty("logmap", logmap);
com.bokesoft.InterfaceOperator.checkTransaction(dbop, "PS_Operator_TO_BPM");
return payload;
			]]>
			</spring:value>
		</spring:property>
	</custom-transformer>

		<custom-transformer class="com.bokesoft.exchange.transformer.ScriptWithDSTransformer" name="查询数据">
		<spring:property name="ds" ref="2c9081d05be7e572015be80fcb64000f_YIGO2_DB"></spring:property>
		<spring:property name="script">
			<spring:value>
			<![CDATA[
				List < Map > data = dbop.select("Select b.USER_HRID,b.USER_NAME,b.USER_HRID,b.USER_NAME,b.USER_SEX,b.USER_SORT,b.HIRE_DT,b.USER_ACCESSIONSTATE,b.GRADE,b.JOB_INDICATOR,b.USER_SHIYONG_FLAG,b.NATIONALITY,b.USER_GROUP_ID,c.GROUP_NAME,b.COMPANY,b.COMPANY_DESCR,b.ACCOUNT_EC_ID,d.CC_NAME_APPROVE,d.CC_CODE_APPROVE,d.BU, 'trinasolar\\' || a.SAMACCOUNTNAME   As adaccount,a.SAMACCOUNTNAME || '@trinasolar.com' As email,a.displayname,b.LASTUPDDTTM,b.EFFDT,b.JOB_EFFDT,b.JOB_LASTUPDATE,b.ESTABID,b.ESTAB_NAME,b.GRADEID,b.POSITION_DESCR,b.POSITION_DESCR_ENG,b.COUNTRY,b.GHXX,b.XLATLONGNAME,b.POSITION_DESC,b.POSITION_DESC_ENG,b.LOCATION,b.LOCATION_DESCR,b.BANK_NAME,b.ACCOUNT_NAME,b.BIRTHDATE,b.TERMINATION_DT, e.Operation_ID, e.Operation_Name From ad_to_bpm_user_mid a Join ps_to_bpm_user_mid b On b.USER_HRID = a.EMPLOYEENUMBER And (b.USER_ACCESSIONSTATE = '在职' And a.ENABLED = 1) Join ps_to_bpm_group_mid c On b.USER_GROUP_ID = c.UNITID  left  Join (Select Case ps_to_bpm_dept_mid.REG_TEMP When 'S' Then '管理人员' When 'D' Then '直接生产人员' When 'I' Then '间接生产人员' End As sort,COMPANY,DEPTID,DEPT_NAME,BU,CC_CODE_APPROVE,CC_NAME_APPROVE From ps_to_bpm_dept_mid) d On b.USER_SORT = d.sort And (b.COMPANY = d.COMPANY And c.UNITID = d.DEPTID) left  join OU e on e.PS_Company_ID=b.COMPANY and (e.bu=d.bu) ", message);
return data;
			]]>
			</spring:value>
		</spring:property>
	</custom-transformer>

<custom-transformer class="com.bokesoft.dee.mule.dataimport.FixFieldsAddTransformer" name="设置单据固定值">
		<spring:property name="tablePath" value="OA_Employee_H"></spring:property>
		<spring:property name="fixFields">
			<spring:map>
					<spring:entry key="mule.adapter.thing-name" value="Dict_Employee"></spring:entry>
					<spring:entry key="mule.adapter.formKey" value="Dict_Employee"></spring:entry>
					<spring:entry key="mule.adapter.op-plan" value="insert-or-update"></spring:entry>
					<spring:entry key="mule.adapter.id-fields" value="Code"></spring:entry>
			</spring:map>
		</spring:property>
		<spring:property name="rowNumColumn" value="norowno"></spring:property>
		
</custom-transformer>

		<custom-transformer class="com.bokesoft.dee.mule.dataimport.MutiFieldValueLookUpWithDsTransformer" name="查询人员对应部门信息">
		<spring:property name="tablePath" value="OA_Employee_H"></spring:property>
		<spring:property name="queries">
			<spring:list>
				<spring:value> <![CDATA[select oid as DeptID from Oa_Department_h where code=#[map-payload:USER_GROUP_ID?]]]></spring:value>
			</spring:list>
		</spring:property>
		<spring:property name="ds" ref="2c9081d05be7e572015be80fcb64000f_YIGO2_DB"></spring:property>
		<spring:property name="firstRecode" value="true"></spring:property>
	</custom-transformer>

		<custom-transformer class="com.bokesoft.dee.mule.yigo2.transformer.MapKeyMapping" name="设置映射关系">
		<spring:property name="source" value="current"></spring:property>
		<spring:property name="target" value="current"></spring:property>
		<spring:property name="fieldExpression">
			<spring:list>
						<spring:value><![CDATA[Code]]>:<![CDATA[user_hrid]]>~</spring:value>
						<spring:value><![CDATA[Name]]>:<![CDATA[user_name]]>~</spring:value>
						<spring:value><![CDATA[User_HRID]]>:<![CDATA[user_hrid]]>~</spring:value>
						<spring:value><![CDATA[User_Name]]>:<![CDATA[user_name]]>~</spring:value>
						<spring:value><![CDATA[Sex]]>:<![CDATA[user_sex]]>~</spring:value>
						<spring:value><![CDATA[User_Sort]]>:<![CDATA[user_sort]]>~</spring:value>
						<spring:value><![CDATA[HIRE_DT]]>:<![CDATA[hire_dt]]>~</spring:value>
						<spring:value><![CDATA[User_AccessionState]]>:<![CDATA[user_accessionstate]]>~</spring:value>
						<spring:value><![CDATA[Grade]]>:<![CDATA[grade]]>~</spring:value>
						<spring:value><![CDATA[Job_Indicator]]>:<![CDATA[job_indicator]]>~</spring:value>
						<spring:value><![CDATA[User_shiyong_Flag]]>:<![CDATA[user_shiyong_flag]]>~</spring:value>
						<spring:value><![CDATA[Nativeplace]]>:<![CDATA[nationality]]>~</spring:value>
						<spring:value><![CDATA[User_Group_ID]]>:<![CDATA[user_group_id]]>~</spring:value>
						<spring:value><![CDATA[Group_Name]]>:<![CDATA[group_name]]>~</spring:value>
						<spring:value><![CDATA[Company]]>:<![CDATA[company]]>~</spring:value>
						<spring:value><![CDATA[Company_Descr]]>:<![CDATA[company_descr]]>~</spring:value>
						<spring:value><![CDATA[Account_EC_ID]]>:<![CDATA[account_ec_id]]>~</spring:value>
						<spring:value><![CDATA[CC_Name_Approve]]>:<![CDATA[cc_name_approve]]>~</spring:value>
						<spring:value><![CDATA[CC_Code_Approve]]>:<![CDATA[cc_code_approve]]>~</spring:value>
						<spring:value><![CDATA[BU]]>:<![CDATA[bu]]>~</spring:value>
						<spring:value><![CDATA[ADAccount]]>:<![CDATA[adaccount]]>~</spring:value>
						<spring:value><![CDATA[Email]]>:<![CDATA[email]]>~</spring:value>
						<spring:value><![CDATA[Lastupddttm]]>:<![CDATA[lastupddttm]]>~</spring:value>
						<spring:value><![CDATA[Effdt]]>:<![CDATA[effdt]]>~</spring:value>
						<spring:value><![CDATA[Job_Effdt]]>:<![CDATA[job_effdt]]>~</spring:value>
						<spring:value><![CDATA[Job_LastUpdate]]>:<![CDATA[job_lastupdate]]>~</spring:value>
						<spring:value><![CDATA[EstabID]]>:<![CDATA[estabid]]>~</spring:value>
						<spring:value><![CDATA[Estab_Name]]>:<![CDATA[estab_name]]></spring:value>
						<spring:value><![CDATA[GradeID]]>:<![CDATA[gradeid]]>~</spring:value>
						<spring:value><![CDATA[Position_Descr]]>:<![CDATA[position_descr]]>~</spring:value>
						<spring:value><![CDATA[Position_Descr_Eng]]>:<![CDATA[position_descr_eng]]>~</spring:value>
						<spring:value><![CDATA[Country]]>:<![CDATA[country]]>~</spring:value>
						<spring:value><![CDATA[Ghxx]]>:<![CDATA[ghxx]]>~</spring:value>
						<spring:value><![CDATA[XlatlongName]]>:<![CDATA[xlatlongname]]>~</spring:value>
						<spring:value><![CDATA[Position_Desc]]>:<![CDATA[position_desc]]>~</spring:value>
						<spring:value><![CDATA[Position_Desc_Eng]]>:<![CDATA[position_desc_eng]]>~</spring:value>
						<spring:value><![CDATA[Location]]>:<![CDATA[location]]>~</spring:value>
						<spring:value><![CDATA[Location_Descr]]>:<![CDATA[location_descr]]>~</spring:value>
						<spring:value><![CDATA[Bank_Name]]>:<![CDATA[bank_name]]>~</spring:value>
						<spring:value><![CDATA[Account_Name]]>:<![CDATA[account_name]]>~</spring:value>
						<spring:value><![CDATA[BirthDate]]>:<![CDATA[birthdate]]>~</spring:value>
						<spring:value><![CDATA[Termination_dt]]>:<![CDATA[termination_dt]]>~</spring:value>
						<spring:value><![CDATA[DeptID]]>:<![CDATA[deptid]]>~</spring:value>
						<spring:value><![CDATA[Operation_ID]]>:<![CDATA[operation_id]]>~</spring:value>
						<spring:value><![CDATA[Operation_Name]]>:<![CDATA[operation_name]]>~</spring:value>
						<spring:value><![CDATA[DisplayName]]>:<![CDATA[displayname]]>~</spring:value>
			</spring:list>		
		</spring:property>
	</custom-transformer>
		
		<!--导入数据到YIGO系统-->
	<custom-transformer class="com.bokesoft.dee.transport.http.transformers.HttpSendRequestToYigoTransformer" name="导入数据到YIGO系统">
		<spring:property name="yigoUrl" value="BD{YIGO2_URL}"></spring:property>
		<spring:property name="connectTimeout" value="6000"></spring:property>
		<spring:property name="readTimeout" value="60000"></spring:property>
		<spring:property name="isThrowException" value="true"></spring:property>
		<spring:property name="isInTransaction" value="true"></spring:property>
	</custom-transformer>



	<transformer ref="ggpz_提交或者回滚JDBC事务"/>
<default-exception-strategy><processor-chain>

	<transformer ref="ggpz_提交或者回滚JDBC事务"/>


	<transformer ref="ggpz_把异常对象转换为文本"/>

		<file:outbound-endpoint path="${bokedee.logpath.runtimeLog}/PS_Operator_TO_BPM.copy"  name="记录错误日志到文件"
		
		outputPattern="#[function:datestamp:yyyyMMddHHmmss]-#[message:id].xml">
		<property key="file_subdir" value="#[context:serviceName]/#[function:datestamp:yyyyMMdd]" />
	</file:outbound-endpoint>

</processor-chain></default-exception-strategy></flow></mule>