env.dev/modules/dee/dee_Config/configs/ERP_PO_TO_BPM/ERP_PO_TO_BPM.bokedee.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:ftp="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.ftp/1.2"
	xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:file="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.file/1.2"
	xmlns:http="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.http/1.2"
	xmlns:https="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.https/1.2"
	xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp"
	xmlns:stdio="http://www.mulesoft.org/schema/mule/stdio" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:axis="http://www.mulesoft.org/schema/mule/axis" xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts"
	xmlns:jdbc="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.jdbc/1.2"
	xmlns:pattern="http://www.mulesoft.org/schema/mule/pattern" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:smooks="http://www.muleforge.org/smooks/schema/mule-module-smooks"
  xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
  xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
  xmlns:imap="http://www.mulesoft.org/schema/mule/imap"
 xmlns:pop3="http://www.mulesoft.org/schema/mule/pop3"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/3.1/mule-jbossts.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.jdbc/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.jdbc/1.2/mule-com.bokesoft.dee.patch.jdbc.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.file/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.file/1.2/mule-com.bokesoft.dee.patch.file.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.http/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.http/1.2/mule-com.bokesoft.dee.patch.http.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.https/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.https/1.2/mule-com.bokesoft.dee.patch.https.xsd
http://www.mulesoft.org/schema/mule/tcp http://www.mulesoft.org/schema/mule/tcp/3.1/mule-tcp.xsd
http://www.muleforge.org/smooks/schema/mule-module-smooks http://dist.muleforge.org/smooks/schema/mule-module-smooks/1.1/mule-module-smooks.xsd
http://www.mulesoft.org/schema/mule/stdio http://www.mulesoft.org/schema/mule/stdio/3.1/mule-stdio.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.1/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/axis http://www.mulesoft.org/schema/mule/axis/3.1/mule-axis.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/pattern http://www.mulesoft.org/schema/mule/pattern/3.1/mule-pattern.xsd
        http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.ftp/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.ftp/1.2/mule-com.bokesoft.dee.patch.ftp.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-vm.xsd 
     http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/3.1/mule-sftp.xsd 
    http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/3.1/mule-jms.xsd 
  http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/3.1/mule-smtp.xsd 
	http://www.mulesoft.org/schema/mule/imap http://www.mulesoft.org/schema/mule/imap/3.1/mule-imap.xsd 
 http://www.mulesoft.org/schema/mule/pop3 http://www.mulesoft.org/schema/mule/pop3/3.1/mule-pop3.xsd ">

		<custom-transformer class="com.bokesoft.exchange.transformer.ScriptWithDSTransformer" name="更新日志表">
		<spring:property name="ds" ref="2c9081d05be7e572015be80fcb64000f_YIGO2_DB"></spring:property>
		<spring:property name="script">
			<spring:value>
			<![CDATA[
				String expMsg = "";
Map rsmap = new HashMap();
if (message.getExceptionPayload() != null)
{
    message.setOutboundProperty("http.status", 200);
    expMsg = message.getExceptionPayload().getRootException().getMessage();
    if (expMsg.length() > 3500)
    {
        expMsg = expMsg.substring(0, 3000);
    }
    message.setExceptionPayload(null);
    rsmap.put("code", "0003");
    rsmap.put("msg", "同步失败！");
}
else
{
    rsmap.put("code", "0002");
    rsmap.put("msg", "同步成功！");
    rsmap.put("data", payload);
}
Object[] o = new Object[10];
o[0] = "";
o[1] = "";
o[2] = "";
o[3] = "";
o[4] = "";
o[5] = new java.text.SimpleDateFormat("yyyyMMdd HH:mm:ss.SSS").format(new java.sql.Timestamp(java.lang.System.currentTimeMillis()));
o[6] = "";
o[7] = "";
o[8] = expMsg;
o[9] = "interface_5";
dbop.saveOrUpdate("insert into TRINA_SL_INTERFACE_LOG(id,flow,node,billkey,oid,starttime,endtime,request_data,response_data,EXCEPTION,interface_type)values(Trina_SL_Interface_Log_ID_SEQ.Nextval,?,?,?,?,?,?,?,?,?,?)", o, false);
return rsmap.get("code");
			]]>
			</spring:value>
		</spring:property>
	</custom-transformer>
<flow name="ERP_PO_TO_BPM">
		<!--接收导入YIGO系统数据-->
	<vm:inbound-endpoint  name="接收导入YIGO系统数据"
		encoding="UTF-8"
		address="vm://ERP_PO_TO_BPM" 
		exchange-pattern ="request-response" 
		responseTransformer-refs ="更新日志表"
		>
	</vm:inbound-endpoint>

	<!--设置表头固定值-->
<custom-transformer class="com.bokesoft.dee.mule.dataimport.FixFieldsAddTransformer" name="设置表头固定值">
		<spring:property name="tablePath" value="B_PO"></spring:property>
		<spring:property name="fixFields">
			<spring:map>
					<spring:entry key="mule.adapter.thing-name" value="B_PO"></spring:entry>
					<spring:entry key="mule.adapter.formKey" value="B_PO"></spring:entry>
					<spring:entry key="mule.adapter.op-plan" value="insert"></spring:entry>
					<spring:entry key="mule.adapter.auto-delete-unknown-detail" value="B_PODtl,B_PODtl2"></spring:entry>
					<spring:entry key="mule.adapter.start-workflow" value="0"></spring:entry>
			</spring:map>
		</spring:property>
		<spring:property name="rowNumColumn" value="norowno"></spring:property>
		
</custom-transformer>

	<!--设置明细表字段固定值-->
<custom-transformer class="com.bokesoft.dee.mule.dataimport.FixFieldsAddTransformer" name="设置明细表字段固定值">
		<spring:property name="tablePath" value="B_PO/B_PODtl"></spring:property>
		<spring:property name="fixFields">
			<spring:map>
					<spring:entry key="mule.adapter.thing-name" value="B_PO"></spring:entry>
					<spring:entry key="mule.adapter.op-plan" value="insert"></spring:entry>
			</spring:map>
		</spring:property>
		<spring:property name="rowNumColumn" value="norowno"></spring:property>
		
</custom-transformer>

	<!--设置明细表2字段固定值-->
<custom-transformer class="com.bokesoft.dee.mule.dataimport.FixFieldsAddTransformer" name="设置明细表2字段固定值">
		<spring:property name="tablePath" value="B_PO/B_PODtl2"></spring:property>
		<spring:property name="fixFields">
			<spring:map>
					<spring:entry key="mule.adapter.thing-name" value="B_PO"></spring:entry>
					<spring:entry key="mule.adapter.op-plan" value="insert"></spring:entry>
			</spring:map>
		</spring:property>
		<spring:property name="rowNumColumn" value="norowno"></spring:property>
		
</custom-transformer>

		<!--查询主表字典数据-->
	<custom-transformer class="com.bokesoft.dee.mule.dataimport.MutiFieldValueLookUpWithDsTransformer" name="查询主表字典数据">
		<spring:property name="tablePath" value="B_PO"></spring:property>
		<spring:property name="queries">
			<spring:list>
				<spring:value> <![CDATA[select  group_name as creatordeptname from oa_employee_h where code=#[map-payload:ApplierHrId] and (status=0 or status=1)]]></spring:value>
				<spring:value> <![CDATA[select oid as applicantid,code as applicantcode,name as applicantname, deptid as applicantdeptname,position_descr,adaccount from oa_employee_h where code=#[map-payload:ApplierHrId] and (status=0 or status=1)]]></spring:value>
				<spring:value> <![CDATA[select oid as currency from dict_currency where code=#[map-payload:Currency] and (status=0 or status=1)]]></spring:value>
				<spring:value> <![CDATA[ select oid as creator, code as creatorcode from sys_operator where code=#[map-payload:ApplierHrId] and (status=0 or status=1)]]></spring:value>
			</spring:list>
		</spring:property>
		<spring:property name="ds" ref="2c9081d05be7e572015be80fcb64000f_YIGO2_DB"></spring:property>
		<spring:property name="firstRecode" value="true"></spring:property>
	</custom-transformer>

		<!--设置字段映射关系-->
	<custom-transformer class="com.bokesoft.dee.mule.yigo2.transformer.MapKeyMapping" name="设置字段映射关系">
		<spring:property name="source" value="current"></spring:property>
		<spring:property name="target" value="current"></spring:property>
		<spring:property name="fieldExpression">
			<spring:list>
						<spring:value><![CDATA[SN]]>:<![CDATA[sn]]></spring:value>
						<spring:value><![CDATA[Creator]]>:<![CDATA[creator]]>~</spring:value>
						<spring:value><![CDATA[CreatorCode]]>:<![CDATA[creatorcode]]>~</spring:value>
						<spring:value><![CDATA[CreatorDeptName]]>:<![CDATA[creatordeptname]]>~</spring:value>
						<spring:value><![CDATA[ApplicantID]]>:<![CDATA[applicantid]]>~</spring:value>
						<spring:value><![CDATA[ApplicantName]]>:<![CDATA[applicantname]]>~</spring:value>
						<spring:value><![CDATA[ApplicantCode]]>:<![CDATA[applicantcode]]>~</spring:value>
						<spring:value><![CDATA[ApplicantDeptName]]>:<![CDATA[applicantdeptname]]>~</spring:value>
						<spring:value><![CDATA[ADAccount]]>:<![CDATA[adaccount]]>~</spring:value>
						<spring:value><![CDATA[Position_Descr]]>:<![CDATA[position_descr]]></spring:value>
						<spring:value><![CDATA[OU_NAME]]>:<![CDATA[ouname]]>~</spring:value>
						<spring:value><![CDATA[OU_CODE]]>:<![CDATA[ouid]]></spring:value>
						<spring:value><![CDATA[TotalAmount]]>:<![CDATA[totalamount]]></spring:value>
						<spring:value><![CDATA[Currency]]>:<![CDATA[currency]]></spring:value>
						<spring:value><![CDATA[Supplier]]>:<![CDATA[supplier]]></spring:value>
						<spring:value><![CDATA[SupplierAdd]]>:<![CDATA[supplieradd]]></spring:value>
						<spring:value><![CDATA[Explain]]>:<![CDATA[description]]></spring:value>
						<spring:value><![CDATA[PO_INF_ID]]>:<![CDATA[po_inf_id]]></spring:value>
						<spring:value><![CDATA[ISPurchase]]>:<![CDATA[ispurchase]]></spring:value>
						<spring:value><![CDATA[B_PODtl]]>:<![CDATA[polists]]>~</spring:value>
						<spring:value><![CDATA[B_PODtl.ID]]>~d2d:<![CDATA[id]]></spring:value>
						<spring:value><![CDATA[B_PODtl.CodeType]]>~d2d:<![CDATA[codetype]]></spring:value>
						<spring:value><![CDATA[B_PODtl.Code]]>~d2d:<![CDATA[code]]></spring:value>
						<spring:value><![CDATA[B_PODtl.Version]]>~d2d:<![CDATA[version]]></spring:value>
						<spring:value><![CDATA[B_PODtl.Description]]>~d2d:<![CDATA[descriptions]]></spring:value>
						<spring:value><![CDATA[B_PODtl.Unit]]>~d2d:<![CDATA[unit]]></spring:value>
						<spring:value><![CDATA[B_PODtl.QTY]]>~d2d:<![CDATA[qty]]></spring:value>
						<spring:value><![CDATA[B_PODtl.Price]]>~d2d:<![CDATA[price]]></spring:value>
						<spring:value><![CDATA[B_PODtl.HTPrice]]>~d2d:<![CDATA[htprice]]></spring:value>
						<spring:value><![CDATA[B_PODtl.TotalPrice]]>~d2d:<![CDATA[totalprice]]></spring:value>
						<spring:value><![CDATA[B_PODtl.TaxCode]]>~d2d:<![CDATA[taxcode]]></spring:value>
						<spring:value><![CDATA[B_PODtl.TaxAmount]]>~d2d:<![CDATA[taxamount]]></spring:value>
						<spring:value><![CDATA[B_PODtl.ContractNO]]>~d2d:<![CDATA[contractno]]></spring:value>
						<spring:value><![CDATA[B_PODtl.PaymentTerm]]>~d2d:<![CDATA[paymentterm]]></spring:value>
						<spring:value><![CDATA[B_PODtl.RequestDate]]>~d2d:<![CDATA[requestdate]]></spring:value>
						<spring:value><![CDATA[B_PODtl.CostCenter]]>~d2d:<![CDATA[costcentern]]>~</spring:value>
						<spring:value><![CDATA[B_PODtl.CostCenterDesc]]>~d2d:<![CDATA[costcenterdescn]]>~</spring:value>
						<spring:value><![CDATA[B_PODtl.Budget]]>~d2d:<![CDATA[budgetnumber]]></spring:value>
						<spring:value><![CDATA[B_PODtl.BudgetDesc]]>~d2d:<![CDATA[budgetdesc]]></spring:value>
						<spring:value><![CDATA[B_PODtl.Account]]>~d2d:<![CDATA[account]]></spring:value>
						<spring:value><![CDATA[B_PODtl.AccountDesc]]>~d2d:<![CDATA[accountdesc]]></spring:value>
						<spring:value><![CDATA[B_PODtl.DistributionNum]]>~d2d:<![CDATA[distributionnum]]></spring:value>
						<spring:value><![CDATA[B_PODtl.DistQuantity]]>~d2d:<![CDATA[distquantity]]></spring:value>
						<spring:value><![CDATA[B_PODtl.InvoiceMatching]]>~d2d:<![CDATA[invoicematching]]></spring:value>
						<spring:value><![CDATA[B_PODtl.MatchOption]]>~d2d:<![CDATA[matchoption]]></spring:value>
						<spring:value><![CDATA[B_PODtl.DistinationType]]>~d2d:<![CDATA[distinationtype]]></spring:value>
						<spring:value><![CDATA[B_PODtl2]]>:<![CDATA[barcodelists]]>~</spring:value>
						<spring:value><![CDATA[B_PODtl2.BarCode]]>~d2d:<![CDATA[barcode]]></spring:value>
			</spring:list>		
		</spring:property>
	</custom-transformer>
		
		<!--导入数据到YIGO系统-->
	<custom-transformer class="com.bokesoft.dee.transport.http.transformers.HttpSendRequestToYigoTransformer" name="导入数据到YIGO系统">
		<spring:property name="yigoUrl" value="BD{YIGO2_URL}"></spring:property>
		<spring:property name="connectTimeout" value="6000"></spring:property>
		<spring:property name="readTimeout" value="60000"></spring:property>
		<spring:property name="isThrowException" value="true"></spring:property>
		<spring:property name="isInTransaction" value="true"></spring:property>
	</custom-transformer>

<default-exception-strategy><processor-chain>

	<transformer ref="ggpz_把异常对象转换为文本"/>

		<file:outbound-endpoint path="${bokedee.logpath.runtimeLog}/ERP_TO_BPM_PO"  name="记录错误日志到文件_ERP_TO_BPM_PO"
		
		outputPattern="#[function:datestamp:yyyyMMddHHmmss]-#[message:id].xml">
		<property key="file_subdir" value="#[context:serviceName]/#[function:datestamp:yyyyMMdd]" />
	</file:outbound-endpoint>

</processor-chain></default-exception-strategy></flow></mule>