env.dev/modules/dee/dee_Config/configs/DB_BankPayment_MID_TO_BPM/DB_BankPayment_MID_TO_BPM_L.bokedee.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:ftp="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.ftp/1.2"
	xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:file="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.file/1.2"
	xmlns:http="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.http/1.2"
	xmlns:https="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.https/1.2"
	xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp"
	xmlns:stdio="http://www.mulesoft.org/schema/mule/stdio" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:axis="http://www.mulesoft.org/schema/mule/axis" xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts"
	xmlns:jdbc="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.jdbc/1.2"
	xmlns:pattern="http://www.mulesoft.org/schema/mule/pattern" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:smooks="http://www.muleforge.org/smooks/schema/mule-module-smooks"
  xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
  xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
  xmlns:imap="http://www.mulesoft.org/schema/mule/imap"
 xmlns:pop3="http://www.mulesoft.org/schema/mule/pop3"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/3.1/mule-jbossts.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.jdbc/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.jdbc/1.2/mule-com.bokesoft.dee.patch.jdbc.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.file/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.file/1.2/mule-com.bokesoft.dee.patch.file.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.http/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.http/1.2/mule-com.bokesoft.dee.patch.http.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.https/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.https/1.2/mule-com.bokesoft.dee.patch.https.xsd
http://www.mulesoft.org/schema/mule/tcp http://www.mulesoft.org/schema/mule/tcp/3.1/mule-tcp.xsd
http://www.muleforge.org/smooks/schema/mule-module-smooks http://dist.muleforge.org/smooks/schema/mule-module-smooks/1.1/mule-module-smooks.xsd
http://www.mulesoft.org/schema/mule/stdio http://www.mulesoft.org/schema/mule/stdio/3.1/mule-stdio.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.1/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/axis http://www.mulesoft.org/schema/mule/axis/3.1/mule-axis.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/pattern http://www.mulesoft.org/schema/mule/pattern/3.1/mule-pattern.xsd
        http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.ftp/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.ftp/1.2/mule-com.bokesoft.dee.patch.ftp.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-vm.xsd 
     http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/3.1/mule-sftp.xsd 
    http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/3.1/mule-jms.xsd 
  http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/3.1/mule-smtp.xsd 
	http://www.mulesoft.org/schema/mule/imap http://www.mulesoft.org/schema/mule/imap/3.1/mule-imap.xsd 
 http://www.mulesoft.org/schema/mule/pop3 http://www.mulesoft.org/schema/mule/pop3/3.1/mule-pop3.xsd ">

		<custom-transformer class="com.bokesoft.exchange.transformer.ScriptWithDSTransformer" name="更新日志表">
		<spring:property name="ds" ref="2c9081d05be7e572015be80fcb64000f_YIGO2_DB"></spring:property>
		<spring:property name="script">
			<spring:value>
			<![CDATA[
				String expMsg = "";
Map rsmap = new HashMap();
if (message.getExceptionPayload() != null)
{
    message.setOutboundProperty("http.status", 200);
    expMsg = message.getExceptionPayload().getRootException().getMessage();
    if (expMsg.length() > 3500)
    {
        expMsg = expMsg.substring(0, 3000);
    }
    message.setExceptionPayload(null);
    rsmap.put("code", "0003");
    rsmap.put("msg", "同步失败！");
}
else
{
    rsmap.put("code", "0002");
    rsmap.put("msg", "同步成功！");
    rsmap.put("data", payload);
}
Map logmap = message.getInboundProperty("logmap");
Object[] o = new Object[10];
o[0] = "";
o[1] = "";
o[2] = "";
o[3] = "";
o[4] = logmap.get("begintime");
o[5] = new java.text.SimpleDateFormat("yyyyMMdd HH:mm:ss.SSS").format(new java.sql.Timestamp(java.lang.System.currentTimeMillis()));
o[6] = "";
o[7] = "";
o[8] = expMsg;
o[9] = "interface_5";
dbop.saveOrUpdate("insert into TRINA_SL_INTERFACE_LOG(id,flow,node,billkey,oid,starttime,endtime,request_data,response_data,EXCEPTION,interface_type)values(Trina_SL_Interface_Log_ID_SEQ.Nextval,?,?,?,?,?,?,?,?,?,?)", o, false);
return rsmap.get("code");
			]]>
			</spring:value>
		</spring:property>
	</custom-transformer>
<flow name="DB_BankPayment_MID_TO_BPM_L">
		<!--接收导入YIGO系统数据-->
	<vm:inbound-endpoint  name="接收导入YIGO系统数据"
		encoding="UTF-8"
		address="vm://ERP_Delivery_Release_L_TO_BPM" 
		exchange-pattern ="request-response" 
		responseTransformer-refs ="更新日志表"
		>
	</vm:inbound-endpoint>

		<script:transformer name="记录数据开始时间">
		<script:script engine="groovy">
			<script:text><![CDATA[
				String begintime = new java.text.SimpleDateFormat("yyyyMMdd HH:mm:ss.SSS").format(new java.sql.Timestamp(java.lang.System.currentTimeMillis()));
Map logmap = new HashMap();
logmap.put("begintime", begintime);
message.setInboundProperty("logmap", logmap);
return payload;
				]]></script:text>
		</script:script>
	</script:transformer>	
	<!--设置银行付款单表头固定值-->
<custom-transformer class="com.bokesoft.dee.mule.dataimport.FixFieldsAddTransformer" name="设置银行付款单表头固定值">
		<spring:property name="tablePath" value="B_BankPayment"></spring:property>
		<spring:property name="fixFields">
			<spring:map>
					<spring:entry key="mule.adapter.thing-name" value="B_BankPayment"></spring:entry>
					<spring:entry key="mule.adapter.formKey" value="B_BankPayment"></spring:entry>
					<spring:entry key="mule.adapter.op-plan" value="insert"></spring:entry>
					<spring:entry key="mule.adapter.id-fields" value="Invoice_ID"></spring:entry>
					<spring:entry key="mule.adapter.auto-delete-unknown-detail" value="B_BankPaymentDtl"></spring:entry>
					<spring:entry key="mule.adapter.start-workflow" value="0"></spring:entry>
			</spring:map>
		</spring:property>
		<spring:property name="rowNumColumn" value="norowno"></spring:property>
		
</custom-transformer>

	<!--设置银行付款单明细表字段固定值-->
<custom-transformer class="com.bokesoft.dee.mule.dataimport.FixFieldsAddTransformer" name="设置银行付款单明细表字段固定值">
		<spring:property name="tablePath" value="B_BankPayment/B_BankPaymentDtl"></spring:property>
		<spring:property name="fixFields">
			<spring:map>
					<spring:entry key="mule.adapter.thing-name" value="B_BankPayment"></spring:entry>
					<spring:entry key="mule.adapter.op-plan" value="insert"></spring:entry>
			</spring:map>
		</spring:property>
		<spring:property name="rowNumColumn" value="norowno"></spring:property>
		
</custom-transformer>

		<!--查询发货通知主表字典数据-->
	<custom-transformer class="com.bokesoft.dee.mule.dataimport.MutiFieldValueLookUpWithDsTransformer" name="查询发货通知主表字典数据">
		<spring:property name="tablePath" value="B_DeliveryNotice"></spring:property>
		<spring:property name="queries">
			<spring:list>
				<spring:value> <![CDATA[select  group_name as creatordeptname from oa_employee_h where code=#[map-payload:tran_name] and (status=0 or status=1)]]></spring:value>
				<spring:value> <![CDATA[select oid as applicantid,code as applicantcode,name as applicantname, deptid as applicantdeptname,position_descr,adaccount from oa_employee_h where code=#[map-payload:tran_name] and (status=0 or status=1)]]></spring:value>
				<spring:value> <![CDATA[select oid as om_employee_id,code as om_employee_num,name as om_employee_name from oa_employee_h where code=#[map-payload:om_employee_num] and (status=0 or status=1)]]></spring:value>
				<spring:value> <![CDATA[select oid as currency from dict_currency where code=#[map-payload:currency] and (status=0 or status=1)]]></spring:value>
				<spring:value> <![CDATA[ select oid as creator, code as creatorcode from sys_operator where code=#[map-payload:tran_name] and (status=0 or status=1)]]></spring:value>
			</spring:list>
		</spring:property>
		<spring:property name="ds" ref="2c9081d05be7e572015be80fcb64000f_YIGO2_DB"></spring:property>
		<spring:property name="firstRecode" value="true"></spring:property>
	</custom-transformer>

		<!--设置字段映射关系-->
	<custom-transformer class="com.bokesoft.dee.mule.yigo2.transformer.MapKeyMapping" name="设置字段映射关系">
		<spring:property name="source" value="current"></spring:property>
		<spring:property name="target" value="current"></spring:property>
		<spring:property name="fieldExpression">
			<spring:list>
						<spring:value><![CDATA[InvoiceNumber]]>:<![CDATA[delivery_id]]>~</spring:value>
						<spring:value><![CDATA[OM_Employee_ID]]>:<![CDATA[om_employee_id]]>~</spring:value>
						<spring:value><![CDATA[OM_Employee_Num]]>:<![CDATA[om_employee_num]]>~</spring:value>
						<spring:value><![CDATA[OM_Employee_Name]]>:<![CDATA[om_employee_name]]>~</spring:value>
						<spring:value><![CDATA[Creator]]>:<![CDATA[creator]]>~</spring:value>
						<spring:value><![CDATA[CreatorCode]]>:<![CDATA[creatorcode]]>~</spring:value>
						<spring:value><![CDATA[CreatorDeptName]]>:<![CDATA[creatordeptname]]>~</spring:value>
						<spring:value><![CDATA[ApplicantID]]>:<![CDATA[applicantid]]>~</spring:value>
						<spring:value><![CDATA[ApplicantCode]]>:<![CDATA[applicantcode]]>~</spring:value>
						<spring:value><![CDATA[ApplicantName]]>:<![CDATA[applicantname]]>~</spring:value>
						<spring:value><![CDATA[ApplicantDeptName]]>:<![CDATA[applicantdeptname]]>~</spring:value>
						<spring:value><![CDATA[Position_Descr]]>:<![CDATA[position_descr]]>~</spring:value>
						<spring:value><![CDATA[ADAccount]]>:<![CDATA[adaccount]]>~</spring:value>
						<spring:value><![CDATA[Order_Type]]>:<![CDATA[order_type]]>~</spring:value>
						<spring:value><![CDATA[CustomerName]]>:<![CDATA[cust_name]]>~</spring:value>
						<spring:value><![CDATA[Sales_Order]]>:<![CDATA[sales_no]]>~</spring:value>
						<spring:value><![CDATA[OU_CODE]]>:<![CDATA[org_id]]>~</spring:value>
						<spring:value><![CDATA[OU_NAME]]>:<![CDATA[name]]>~</spring:value>
						<spring:value><![CDATA[Currency]]>:<![CDATA[currency]]>~</spring:value>
						<spring:value><![CDATA[Destination_Port]]>:<![CDATA[packing_instructions]]>~</spring:value>
						<spring:value><![CDATA[attribute3]]>:<![CDATA[attribute3]]>~</spring:value>
						<spring:value><![CDATA[attribute17]]>:<![CDATA[attribute17]]>~</spring:value>
						<spring:value><![CDATA[Region]]>:<![CDATA[tp_attribute1]]>~</spring:value>
						<spring:value><![CDATA[subregion]]>:<![CDATA[tp_attribute2]]>~</spring:value>
						<spring:value><![CDATA[B_DeliveryNoticeDtl]]>:<![CDATA[b_deliverynoticedtl]]>~</spring:value>
						<spring:value><![CDATA[B_DeliveryNoticeDtl.Prod_Name]]>~d2d:<![CDATA[prod_name]]>~</spring:value>
						<spring:value><![CDATA[B_DeliveryNoticeDtl.Prod_Type]]>~d2d:<![CDATA[prod_type]]>~</spring:value>
						<spring:value><![CDATA[B_DeliveryNoticeDtl.Prod_Unit]]>~d2d:<![CDATA[prod_unit]]>~</spring:value>
						<spring:value><![CDATA[B_DeliveryNoticeDtl.Amount]]>~d2d:<![CDATA[amount]]>~</spring:value>
						<spring:value><![CDATA[B_DeliveryNoticeDtl.Price]]>~d2d:<![CDATA[price]]>~</spring:value>
						<spring:value><![CDATA[B_DeliveryNoticeDtl.Warehouse_NO]]>~d2d:<![CDATA[warehouse_no]]>~</spring:value>
						<spring:value><![CDATA[B_DeliveryNoticeDtl.Slot_No]]>~d2d:<![CDATA[slot_no]]>~</spring:value>
						<spring:value><![CDATA[B_DeliveryNoticeDtl.ContractNo]]>~d2d:<![CDATA[contractno]]>~</spring:value>
						<spring:value><![CDATA[B_DeliveryNoticeDtl.Memo]]>~d2d:<![CDATA[memo]]>~</spring:value>
						<spring:value><![CDATA[B_DeliveryNoticeAtt]]>:<![CDATA[b_deliverynoticeatt]]>~</spring:value>
						<spring:value><![CDATA[B_DeliveryNoticeAtt.DELIVERY_ID]]>~d2d:<![CDATA[delivery_id]]>~</spring:value>
						<spring:value><![CDATA[B_DeliveryNoticeAtt.OE_ORDER_NUMBER]]>~d2d:<![CDATA[oe_order_number]]>~</spring:value>
						<spring:value><![CDATA[B_DeliveryNoticeAtt.FILE_NAME]]>~d2d:<![CDATA[file_name]]>~</spring:value>
						<spring:value><![CDATA[B_DeliveryNoticeAtt.URL]]>~d2d:<![CDATA[url]]>~</spring:value>
			</spring:list>		
		</spring:property>
	</custom-transformer>
		
		<!--导入数据到YIGO系统-->
	<custom-transformer class="com.bokesoft.dee.transport.http.transformers.HttpSendRequestToYigoTransformer" name="导入数据到YIGO系统">
		<spring:property name="yigoUrl" value="BD{YIGO2_URL}"></spring:property>
		<spring:property name="connectTimeout" value="6000"></spring:property>
		<spring:property name="readTimeout" value="60000"></spring:property>
		<spring:property name="isThrowException" value="true"></spring:property>
		<spring:property name="isInTransaction" value="true"></spring:property>
	</custom-transformer>

<default-exception-strategy><processor-chain>

	<transformer ref="ggpz_把异常对象转换为文本"/>

		<file:outbound-endpoint path="${bokedee.logpath.runtimeLog}/ERP_TO_BPM_Delivery_Release"  name="记录错误日志到文件_ERP_TO_BPM_Delivery_Release_L"
		
		outputPattern="#[function:datestamp:yyyyMMddHHmmss]-#[message:id].xml">
		<property key="file_subdir" value="#[context:serviceName]/#[function:datestamp:yyyyMMdd]" />
	</file:outbound-endpoint>

</processor-chain></default-exception-strategy></flow></mule>