env.dev/modules/dee/dee_Config/configs/DB_BankPayment_MID_TO_BPM/DB_BankPayment_MID_TO_BPM_H.bokedee.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:ftp="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.ftp/1.2"
	xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:file="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.file/1.2"
	xmlns:http="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.http/1.2"
	xmlns:https="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.https/1.2"
	xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp"
	xmlns:stdio="http://www.mulesoft.org/schema/mule/stdio" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:axis="http://www.mulesoft.org/schema/mule/axis" xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts"
	xmlns:jdbc="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.jdbc/1.2"
	xmlns:pattern="http://www.mulesoft.org/schema/mule/pattern" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:smooks="http://www.muleforge.org/smooks/schema/mule-module-smooks"
  xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
  xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
  xmlns:imap="http://www.mulesoft.org/schema/mule/imap"
 xmlns:pop3="http://www.mulesoft.org/schema/mule/pop3"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/3.1/mule-jbossts.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.jdbc/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.jdbc/1.2/mule-com.bokesoft.dee.patch.jdbc.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.file/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.file/1.2/mule-com.bokesoft.dee.patch.file.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.http/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.http/1.2/mule-com.bokesoft.dee.patch.http.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.https/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.https/1.2/mule-com.bokesoft.dee.patch.https.xsd
http://www.mulesoft.org/schema/mule/tcp http://www.mulesoft.org/schema/mule/tcp/3.1/mule-tcp.xsd
http://www.muleforge.org/smooks/schema/mule-module-smooks http://dist.muleforge.org/smooks/schema/mule-module-smooks/1.1/mule-module-smooks.xsd
http://www.mulesoft.org/schema/mule/stdio http://www.mulesoft.org/schema/mule/stdio/3.1/mule-stdio.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.1/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/axis http://www.mulesoft.org/schema/mule/axis/3.1/mule-axis.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/pattern http://www.mulesoft.org/schema/mule/pattern/3.1/mule-pattern.xsd
        http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.ftp/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.ftp/1.2/mule-com.bokesoft.dee.patch.ftp.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-vm.xsd 
     http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/3.1/mule-sftp.xsd 
    http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/3.1/mule-jms.xsd 
  http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/3.1/mule-smtp.xsd 
	http://www.mulesoft.org/schema/mule/imap http://www.mulesoft.org/schema/mule/imap/3.1/mule-imap.xsd 
 http://www.mulesoft.org/schema/mule/pop3 http://www.mulesoft.org/schema/mule/pop3/3.1/mule-pop3.xsd ">
<flow name="DB_BankPayment_MID_TO_BPM_H">
		<!--设置VM服务-->
	<vm:inbound-endpoint  name="设置VM服务"
		encoding="UTF-8"
		address="vm://DB_BankPayment_MID_TO_BPM_H" 
		exchange-pattern ="request-response" 
		
		>
	</vm:inbound-endpoint>

		<custom-transformer class="com.bokesoft.dee.transport.jdbc.transformer.ExecuteSQLSimpleTransformer" name="查询数据">
		<spring:property name="queries">
			<spring:list>
				<spring:value> <![CDATA[
					select a.HEADER_ID,
       a.ITEM_TYPE,
       a.DETAIL_TYPE,
       a.ORG_ID,
       a.VENDOR_NAME,
       a.VENDOR_NUM,
       a.AP_DATE,
       a.INVOICE_NUM,
       a.INVOICE_ID,
       a.LINE_NUM,
       a.TERM_NAME,
       a.DUE_DATE,
       a.PAYMENT_METHOD_NAME,
       a.CURRENCY_CODE,
       a.INVOICE_AMOUNT,
       a.AMOUNT,
       a.EMPLOYEE_NUMBER,
       a.EMPLOYEE_NAME,
       a.FLAG,
       a.NAME,
       a.Original_Currency
  from BANK_EFLOW_AP_DETAIL a
  left join (select t.invoice_id,
                    nvl(sum(c.invoice_amount), 0) as c_invoice_amount,
                    nvl(sum(d.invoice_amount), 0) as d_invoice_amount
               from BANK_EFLOW_AP_DETAIL t
               left join BANK_RESULT_MID c
                 on t.invoice_id = c.invoice_id
               left join BANK_REMAIN_MID d
                 on t.invoice_id = d.invoice_id
              group by t.invoice_id) b
    on a.invoice_id = b.invoice_id
 where a.INVOICE_AMOUNT + a.b_invoice_amount + b.c_invoice_amount +
       b.d_invoice_amount > 0
				]]></spring:value>
			</spring:list>		
		</spring:property>
		<spring:property name="ds" ref="2c9081d05be7e572015be80fcb64000f_YIGO2_DB"></spring:property>
		<spring:property name="resultIndexOf" value="1"></spring:property>
		<spring:property name="ignoreSQLError" value="false"></spring:property>
	</custom-transformer>
	
	
	<!--循环分发单条数据-->
	<custom-transformer class="com.bokesoft.dee.mule.dispatch.transformer.DispatchVMTransformer" name="循环分发单条数据">
		<spring:property name="vmUrl" value="vm://ERP_Delivery_Release_L_TO_BPM"></spring:property>
		<spring:property name="interfaceName" value="DB_BankPayment_MID_TO_BPM"></spring:property>
		<spring:property name="useList" value="true"></spring:property>
	</custom-transformer><default-exception-strategy><processor-chain>

	<transformer ref="ggpz_把异常对象转换为文本"/>

		<file:outbound-endpoint path="${bokedee.logpath.runtimeLog}/ERP_TO_BPM_Delivery_Release"  name="记录错误日志到文件_ERP_TO_BPM_Delivery_Release_H"
		
		outputPattern="#[function:datestamp:yyyyMMddHHmmss]-#[message:id].xml">
		<property key="file_subdir" value="#[context:serviceName]/#[function:datestamp:yyyyMMdd]" />
	</file:outbound-endpoint>

</processor-chain></default-exception-strategy></flow></mule>