env.dev/modules/dee/dee_Config/configs/PS_DEPARTMENT2_TO_BPM/PS_DEPARTMENT2_TO_BPM.bokedee.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:ftp="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.ftp/1.2"
	xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:file="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.file/1.2"
	xmlns:http="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.http/1.2"
	xmlns:https="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.https/1.2"
	xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp"
	xmlns:stdio="http://www.mulesoft.org/schema/mule/stdio" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:axis="http://www.mulesoft.org/schema/mule/axis" xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts"
	xmlns:jdbc="http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.jdbc/1.2"
	xmlns:pattern="http://www.mulesoft.org/schema/mule/pattern" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:smooks="http://www.muleforge.org/smooks/schema/mule-module-smooks"
  xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
  xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
  xmlns:imap="http://www.mulesoft.org/schema/mule/imap"
 xmlns:pop3="http://www.mulesoft.org/schema/mule/pop3"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/3.1/mule-jbossts.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.jdbc/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.jdbc/1.2/mule-com.bokesoft.dee.patch.jdbc.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.file/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.file/1.2/mule-com.bokesoft.dee.patch.file.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.http/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.http/1.2/mule-com.bokesoft.dee.patch.http.xsd
http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.https/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.https/1.2/mule-com.bokesoft.dee.patch.https.xsd
http://www.mulesoft.org/schema/mule/tcp http://www.mulesoft.org/schema/mule/tcp/3.1/mule-tcp.xsd
http://www.muleforge.org/smooks/schema/mule-module-smooks http://dist.muleforge.org/smooks/schema/mule-module-smooks/1.1/mule-module-smooks.xsd
http://www.mulesoft.org/schema/mule/stdio http://www.mulesoft.org/schema/mule/stdio/3.1/mule-stdio.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.1/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/axis http://www.mulesoft.org/schema/mule/axis/3.1/mule-axis.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/pattern http://www.mulesoft.org/schema/mule/pattern/3.1/mule-pattern.xsd
        http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.ftp/1.2 http://dee.bokesoft.com/schema/mule/com.bokesoft.dee.patch.ftp/1.2/mule-com.bokesoft.dee.patch.ftp.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-vm.xsd 
     http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/3.1/mule-sftp.xsd 
    http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/3.1/mule-jms.xsd 
  http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/3.1/mule-smtp.xsd 
	http://www.mulesoft.org/schema/mule/imap http://www.mulesoft.org/schema/mule/imap/3.1/mule-imap.xsd 
 http://www.mulesoft.org/schema/mule/pop3 http://www.mulesoft.org/schema/mule/pop3/3.1/mule-pop3.xsd ">

		<custom-transformer class="com.bokesoft.exchange.transformer.ScriptWithDSTransformer" name="更新日志表">
		<spring:property name="ds" ref="2c9081d05be7e572015be80fcb64000f_YIGO2_DB"></spring:property>
		<spring:property name="script">
			<spring:value>
			<![CDATA[
				String expMsg = "";
Map rsmap = new HashMap();
if (message.getExceptionPayload() != null)
{
    message.setOutboundProperty("http.status", 200);
    expMsg = message.getExceptionPayload().getRootException().getMessage();
    if (expMsg.length() > 3500)
    {
        expMsg = expMsg.substring(0, 3000);
    }
    message.setExceptionPayload(null);
    rsmap.put("code", "e");
    rsmap.put("msg", "同步失败！");
}
else
{
    rsmap.put("code", "s");
    rsmap.put("msg", "同步成功！");
    rsmap.put("data", payload);
}
Map logmap = message.getInboundProperty("logmap");
Object[] o = new Object[10];
o[0] = logmap.get("flow");
o[1] = logmap.get("node");
o[2] = logmap.get("billkey");
o[3] = logmap.get("oid");
o[4] = logmap.get("begintime");
o[5] = new java.text.SimpleDateFormat("yyyyMMdd HH:mm:ss.SSS").format(new java.sql.Timestamp(java.lang.System.currentTimeMillis()));
o[6] = "";
o[7] = "";
o[8] = expMsg;
o[9] = "interface_1";
dbop.saveOrUpdate("insert into TRINA_SL_INTERFACE_LOG(id,flow,node,billkey,oid,starttime,endtime,request_data,response_data,EXCEPTION,interface_type)values(Trina_SL_Interface_Log_ID_SEQ.Nextval,?,?,?,?,?,?,?,?,?,?)", o, false);
return com.bokesoft.dee.mule.util.json.JSONUtil.toJson(rsmap);
			]]>
			</spring:value>
		</spring:property>
	</custom-transformer>
<flow name="PS_DEPARTMENT2_TO_BPM">
		<vm:inbound-endpoint  name="接收触发请求"
		encoding="UTF-8"
		address="vm://PS_DEPARTMENT2_TO_BPM" 
		exchange-pattern ="request-response" 
		responseTransformer-refs ="更新日志表"
		>
	</vm:inbound-endpoint>


	<transformer ref="ggpz_启动JDBC事务"/>

		<custom-transformer class="com.bokesoft.exchange.transformer.ScriptWithDSTransformer" name="记录起始时间">
		<spring:property name="ds" ref="2c9081d05be7e572015be80fcb64000f_YIGO2_DB"></spring:property>
		<spring:property name="script">
			<spring:value>
			<![CDATA[
				String begintime = new java.text.SimpleDateFormat("yyyyMMdd HH:mm:ss.SSS").format(new java.sql.Timestamp(java.lang.System.currentTimeMillis()));
Map logmap = new HashMap();
logmap.put("begintime", begintime);
logmap.put("flow", payload.get("flow"));
logmap.put("node", payload.get("node"));
logmap.put("oid", payload.get("oid"));
logmap.put("billkey", payload.get("billkey"));
logmap.put("request_data", payload.get("json"));
message.setInboundProperty("logmap", logmap);
com.bokesoft.InterfaceOperator.checkTransaction(dbop, "PS_DEPARTMENT2_TO_BPM");
return payload;
			]]>
			</spring:value>
		</spring:property>
	</custom-transformer>

		<custom-transformer class="com.bokesoft.exchange.transformer.ScriptWithDSTransformer" name="查询数据">
		<spring:property name="ds" ref="2c9081d05be7e572015be80fcb64000f_YIGO2_DB"></spring:property>
		<spring:property name="script">
			<spring:value>
			<![CDATA[
				List < Map > data = dbop.select("select * from PS_TO_BPM_GROUP_MID  where unitid  in (select code from oa_department_h) ORDER BY group_id desc ", message);
return data;
			]]>
			</spring:value>
		</spring:property>
	</custom-transformer>

<custom-transformer class="com.bokesoft.dee.mule.dataimport.FixFieldsAddTransformer" name="设置单据固定值">
		<spring:property name="tablePath" value="OA_Department_H"></spring:property>
		<spring:property name="fixFields">
			<spring:map>
					<spring:entry key="mule.adapter.thing-name" value="Dict_Department"></spring:entry>
					<spring:entry key="mule.adapter.formKey" value="Dict_Department"></spring:entry>
					<spring:entry key="mule.adapter.op-plan" value="update"></spring:entry>
					<spring:entry key="mule.adapter.id-fields" value="Code"></spring:entry>
			</spring:map>
		</spring:property>
		<spring:property name="rowNumColumn" value="norowno"></spring:property>
		
</custom-transformer>

		<custom-transformer class="com.bokesoft.dee.mule.yigo2.transformer.MapKeyMapping" name="设置映射关系">
		<spring:property name="source" value="current"></spring:property>
		<spring:property name="target" value="current"></spring:property>
		<spring:property name="fieldExpression">
			<spring:list>
						<spring:value><![CDATA[Code]]>:<![CDATA[unitid]]>~</spring:value>
						<spring:value><![CDATA[Name]]>:<![CDATA[group_name]]>~</spring:value>
						<spring:value><![CDATA[UnitID]]>:<![CDATA[unitid]]>~</spring:value>
						<spring:value><![CDATA[Group_ID]]>:<![CDATA[group_id]]>~</spring:value>
						<spring:value><![CDATA[Group_Name]]>:<![CDATA[group_name]]>~</spring:value>
						<spring:value><![CDATA[Group_Name_Eng]]>:<![CDATA[group_name_eng]]>~</spring:value>
						<spring:value><![CDATA[Group_Parent]]>:<![CDATA[group_parent]]>~</spring:value>
						<spring:value><![CDATA[Group_LdID]]>:<![CDATA[group_ldid]]>~</spring:value>
						<spring:value><![CDATA[Dept_Level]]>:<![CDATA[dept_level]]>~</spring:value>
						<spring:value><![CDATA[Effect_Date]]>:<![CDATA[effect_date]]>~</spring:value>
						<spring:value><![CDATA[Group_Status]]>:<![CDATA[group_status]]>~</spring:value>
						<spring:value><![CDATA[Tree_Effdt]]>:<![CDATA[tree_effdt]]>~</spring:value>
						<spring:value><![CDATA[Company]]>:<![CDATA[company]]>~</spring:value>
						<spring:value><![CDATA[Cost_Center_Code]]>:<![CDATA[cost_center_code]]>~</spring:value>
						<spring:value><![CDATA[Cost_Center_Name]]>:<![CDATA[cost_center_name]]>~</spring:value>
						<spring:value><![CDATA[New_Cost_Center]]>:<![CDATA[new_cost_center]]>~</spring:value>
						<spring:value><![CDATA[New_Cost_Center_Name]]>:<![CDATA[new_cost_center_name]]>~</spring:value>
			</spring:list>		
		</spring:property>
	</custom-transformer>
		
		<!--导入数据到YIGO系统-->
	<custom-transformer class="com.bokesoft.dee.transport.http.transformers.HttpSendRequestToYigoTransformer" name="导入数据到YIGO系统">
		<spring:property name="yigoUrl" value="BD{YIGO2_URL}"></spring:property>
		<spring:property name="connectTimeout" value="6000"></spring:property>
		<spring:property name="readTimeout" value="60000"></spring:property>
		<spring:property name="isThrowException" value="true"></spring:property>
		<spring:property name="isInTransaction" value="true"></spring:property>
	</custom-transformer>



	<transformer ref="ggpz_提交或者回滚JDBC事务"/>
<default-exception-strategy><processor-chain>

	<transformer ref="ggpz_提交或者回滚JDBC事务"/>


	<transformer ref="ggpz_把异常对象转换为文本"/>

		<file:outbound-endpoint path="${bokedee.logpath.runtimeLog}/PS_DEPARTMENT2_TO_BPM"  name="记录错误日志到文件"
		
		outputPattern="#[function:datestamp:yyyyMMddHHmmss]-#[message:id].xml">
		<property key="file_subdir" value="#[context:serviceName]/#[function:datestamp:yyyyMMdd]" />
	</file:outbound-endpoint>

</processor-chain></default-exception-strategy></flow></mule>